/.github/.cache

docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

.venv
.env

bank/.dbt/
bank/analyses/
bank/logs/
bank/seeds/
bank/target/
bank/tests/

__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.yml
logs/